.label {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 8px;

  border-radius: 28px;
  padding: 4px 14px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.42857;
  color: #b91c1c;
  background: #fee2e2;
}
